body {
    background-color: #0584fe;
    font-family: verdana;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 32px;
}

.login {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    padding: 50px;
    background: #FFFFFF;
    border-radius: 15px;

}

#welcomeButtons {
    border-style: none;
    padding: 10px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    color: white;
    background-color: #00c2ff;
    font-size: 20px;
}

.centerContainer {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}