click==8.0.3
Flask==2.0.2
Flask-MySQL==1.5.2
Flask-MySQLdb==1.0.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==2.1.0
PyMySQL==1.0.2
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-103/six-1.15.0-py2.py3-none-any.whl
Werkzeug==2.0.3
better_profanity==0.7.0
