<!DOCTYPE html>
<html>
	<head>
		<link href="{{ url_for('static',filename='styles/landingPage/css/main.css') }}" rel="stylesheet" />
		<script src="{{ url_for('static',filename='styles/landingPage/javascript/main.js') }}"></script>
	</head>
	<body onload="on_load()">
		<div id="page">
			<div id="status-frame">
				<div id="profile-frame">
					<div id="profile-photo">
						<img src="{{ url_for('static',filename='styles/landingPage/images/chess_rook.png') }}" class="friend-photo-image">
					</div>
					<div id="profile-name">Profile Name</div>
				</div>
				<div id="friends-frame">
					<div class="friend" onclick="select_friend(this)">
						<div class="friend-photo">
							<img src="{{ url_for('static',filename='styles/landingPage/images/crown_a.png') }}" class="friend-photo-image">
						</div>
						<div class="friend-name">Shoutbox</div>
					</div>
					{% for friend in friend_list %}
					<div class="friend" onclick="select_friend(this)">
						<div class="friend-photo">
							<img src="{{ url_for('static',filename='styles/landingPage/images/crown_a.png') }}" class="friend-photo-image">
						</div>
						<div class="friend-name">{{ friend }}</div>
					</div>
    				{% endfor %}
					<!--
					<div class="friend" onclick="select_friend(this)">
						<div class="friend-photo">
							<img src="{{ url_for('static',filename='styles/landingPage/images/bow.png') }}" class="friend-photo-image">
						</div>
						<div class="friend-name">Alison</div>
					</div>
					<div class="friend" onclick="select_friend(this)">
						<div class="friend-photo">
							<img src="{{ url_for('static',filename='styles/landingPage/images/campfire.png') }}" class="friend-photo-image">
						</div>
						<div class="friend-name">Conor</div>
					</div>
					<div class="friend" onclick="select_friend(this)">
						<div class="friend-photo">
							<img src="{{ url_for('static',filename='styles/landingPage/images/chess_knight.png') }}" class="friend-photo-image">
						</div>
						<div class="friend-name">Paige</div>
					</div>
					-->
				</div>
				<div id="search-frame">
					<form action="" method="POST">
						<input autoComplete="off" list="users" name="select_friend" id="selected-friend" oninput="examine_add_input()"/> 
						<!--<input class="textFields" placeholder="add friends here" id="search-field">-->
						<datalist id="users">
							{% for user in add_list %}
        					<option value="{{user}}">
    						{% endfor %}
						</datalist>
						<button id="add-button" type="submit" onclick="add_friend()" disabled>add</button>
					</form>
				</div>
				<div id="logout-frame">
					<div id="logout-button" onclick="logout()">[Logout]</div>
				</div>
			</div>
			<div id="chat-frame">
				<div id="recipient-frame">
					<div id="recipient-photo">
						<img src="{{ url_for('static',filename='styles/landingPage/images/profile_pic.png') }}" id="recipient-photo-image">
					</div>
					<div id="recipient-name">Recipient</div>
				</div>
				<div id="message-frame">
					<div class="message">
						<div class="message-sender">Message1 Sender: </div>
						<div class="message-text">Message1 Text.</div>
					</div>
					<div class="message">
						<div class="message-sender">Message2 Sender: </div>
						<div class="message-text">Message2 Text.</div>
					</div>
					<div class="message">
						<div class="message-sender">Message3 Sender: </div>
						<div class="message-text">Message3 Text.</div>
					</div>
				</div>
				<div id="input-frame">
					<input id="input-field">
					<div id="send-button" onclick="send_message()">[Send]</div>
				</div>
			</div>
		</div>
	</body>
</html>
