<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

     <!-- Adds a dark mode button to toggle -->
     <button onclick="darkFunction()">Switch mode</button>
    
     <script>
         function darkFunction() {
             var element = document.body;
             element.classList.toggle("bodyDark");
         }
     </script>

    <div class="login">

        <h1>Forgot Password?</h1>
        <br>
        {% block content %}
            {% with alerts = get_flashed_messages() %}
                {% if alerts %}
                    {% for alert in alerts %}
                        <p>{{ alert }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}

        <form action="" method="POST">
            <div class="centerContainer">
                <h4>Enter your email for a hint</h4>
                <br>
                <input class="textFields" type="text" placeholder="Email" name="email" id="email" required>
                <br>
                <br>
                <button id="resetbtn" type="submit" class="welcomeButtons">Get Hint!</button>
                
            </div>
        </form>
    </div>
</body>

</html>