<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

    <div class="login">

        <h1>WELCOME!</h1>
        <br>
        {% if session['username'] %}
        Hello, {{  session['username'] }}.
        {% endif %}

        <div class="centerContainer">
        {% if 'username' not in session %}
            <button id="loginbtn" class="welcomeButtons">Login</button>
            <br>
            <button id="registerbtn" class="welcomeButtons">Register</button>
            <br>
            <button id="guestbtn" class="welcomeButtons">Continue as Guest</button>
        </div>

        <script type="text/javascript">
            document.getElementById("registerbtn").onclick = function () {
                location.href = "register.html";
            };

            document.getElementById("loginbtn").onclick = function () {
                location.href = "login.html";
            };

            document.getElementById("guestbtn").onclick = function () {
                location.href = "/landingPage/index.html";
            };

        
        </script>
        {% endif %}

        {% if session['username'] %}
        <button id="continuebtn" class="welcomeButtons">Continue to Chat</button>
        <br>
        <button id="logoutbtn" class="welcomeButtons">Logout</button>
        <br>

        <script type="text/javascript">
            document.getElementById("continuebtn").onclick = function () {
                location.href = "/landingPage/index.html";
            };

        
            document.getElementById("logoutbtn").onclick = function () {
                location.href = "logout.html";
            };
        </script>
        {% endif %}

        

    </div>
</body>

</html>
