<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <div class="login">

        <h1>LOGIN</h1>
        <br>
        {{ login_msg }}
        <form name="accountinfo" action="" method="POST">
            <div class="centerContainer">
                <input class="textFields" type="text" placeholder="Username" name="uname" id="uname" required>
                <input class="textFields" type="password" placeholder="Password" name="pwd" id="pwd" required>
                <br>
                <br>
                <button type="submit" class="welcomeButtons">Log in</button>
                
            </div>
        </form>
    </div>
</body>

</html>