<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASSWORD HINT DISPLAY</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <div class="login">

        <h1>Don't worry! we gotchur hint <span>&#x1F609</span></p></h1>
        <br>

        <form action="dashboard.php">
            <div class="centerContainer">
                <h4>Use the hint below to recollect your password from your <span>&#129504</span></p></h4>
                <br>
                <h3>"Shawn display the hint here"</h3>
                <br>
                <br>
                
            </div>
        </form>
    </div>
</body>

</html>