<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

    <div class="register">

        <h1>REGISTER</h1>
        <br>
        {% block content %}
            {% with alerts = get_flashed_messages() %}
                {% if alerts %}
                    {% for alert in alerts %}
                        <p>{{ alert }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}
        <form name="accountinfo" action="" method="POST">
            <div class="centerContainer">
                <input class="textFields" type="text" placeholder="Email" name="email" id="email" required>
                <input class="textFields" type="text" placeholder="Username" name="uname" id="uname" required>
                <input class="textFields" type="password" placeholder="Password" name="pwd" id="pwd" required>
                <p>Already registered? <a href="login.html">Log in</a>.</p>
                <button type="submit" class="welcomeButtons">Register</button>
                <br>
            </div>
        </form>
    </div>
</body>

</html>

<!-- #18 and #38 -->