html, body {
	font-size: 14px;
	height: 99%;
	width: 99%;
	font-family: "Source Code Pro", Mono, Verdana, Arial;
	background-color: #0093ff;
}

#page {
	position: relative;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

/* ========== STATUS FRAME =========== */

#status-frame {
	width: 250px;
	display: flex;
	flex-direction: column;
}

#profile-frame {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profile-photo {
	height: 125px;
	width: 125px;
}

#profile-name {
	color: #ffffff;
	padding-top: 20px;
	font-size: 24px;
	font-weight: bold;
}


#friends-frame {
	flex-grow: 1;
	padding: 5px;
}

.friend {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #999999;
}

.friend-photo {
	width: 35px;
	height: 35px;
	padding: 5px;
}

.friend-photo-image {
	height: 100%;
	width: 100%;
}

.friend-name {
	flex-grow: 1;
	padding-top: 12px;
	font-size: 16px;
}

#logout-frame {
	color: #ffffff;
	height: 50px;
	position:relative;
}

#logout-button {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-weight: bold;
}

#search-frame {
	display: flex;
}

/* ========== CHAT FRAME =========== */

#chat-frame {
	background-color: #ffffff;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

#recipient-frame {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#recipient-photo {
	height: 100px;
	width: 100px;
}

#recipient-photo-image {
	height: 100%;
	width: 100%;
}

#recipient-name {
	padding-top: 20px;
	font-size: 24px;
}

#message-frame {
	flex-grow: 1;
	overflow: auto;
}

.message {
	display: flex;
	flex-direction: row;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.message-sender {
	width: 100px;
	font-weight: bold;
}

.message-text {
	flex-grow: 1;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

#input-frame {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
}

#input-field {
	flex-grow: 1;
}

#send-button {
	padding: 10px;
}
